/*
        ***************************
    
            PUBLIC STYLES
        =============================
*/

* , *:after , *:before{
    margin: 0;
    padding: 0;
}
.clearfix {
    clear: both;
}

body{
    font-family: lucida sans,arial;
    height: auto;
}

.container{
    width: 85%;
    margin: auto;
}

.back-img
{
    height: 130vh;
    background: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.back-img .navbar .nav-info
{
    padding: 50px 0;
    margin-bottom: 20px;
}

.back-img .navbar  .nav-info .logo
{
    width: 33.33%;
    text-align: left;
    float: left;
}

.back-img .navbar .ul-list
{
    width: 33.33%;
    float: left;
    padding-top: 17px;
    list-style: none;
}

.back-img .navbar .nav-info .ul-list .list-item
{
    display: inline-block;
}

.back-img .navbar .nav-info .ul-list .list-item a
{
    text-decoration: none;
    color: #fff;
    padding-left: 16px;
    font-size: 16px;
    display: block;
}

.back-img .navbar .nav-info .ul-list .list-item a:hover
{
    color: #D82A4E;
}

.back-img .navbar .nav-info .btn
{
    width: 33.33%;
    float: left;
    text-align: right;
}

.back-img .navbar .nav-info .btn button
{
    padding: 18px 80px;
    outline: 0;
    background: #D82A4E;
    color: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer
}

/*
    back-img GET STYLES
*/

.back-img .get .get-info 
{
    
    padding: 150px 0;
    text-align: center;
    color: #fff;
    
   
}

.back-img .get .get-info .title .get-title
{
    font-size: 55px;
    font-weight: normal;
    margin-bottom: 25px;
}

.back-img .get .get-info .desc .get-desc
{
    font-size: 14px;
    line-height: 1.9;
    color: #fff;
    font-weight: normal;
    width: 70%;
    margin: auto;
}

/*
    back-img FORM STYLES
*/

.back-img .back-form .form form input
{
    box-sizing: border-box;
    margin-bottom: 17px;
    padding: 9px;
    outline: 0;
}


 .back-img .back-form .form form input[type=text]
{
    float: left;
    background: #F1F1F1;
    width: 30%;
    padding: 15px;
    border: none;
    margin-left: 115px;
    font-size: 17px;
}

 .back-img .back-form .form form input[type=email]
{
    float: left;
    background: #F1F1F1;
    width: 30%;
    padding: 15px;
    border: none;
    margin-left: 29px;
    font-size: 17px;
    
}

.back-img .back-form .btn 
{
    width: 17%;
    float: left;
    margin-left: 40px;
    outline: 0;
    background: #D82A4E;
    color: #fff;
    border: none;
    padding: 17px;
    cursor: pointer;
    font-size: 18px;
    
}




/*
        ***************************
    
            OUR-COURSES STYLES
        =============================
*/

.our-courses
{
    padding: 100px 0;
 
}

.our-courses .cor-title
{
    text-align: center;
    color: #474747;
    font-size: 40px;
    margin-bottom: 20px;
}

.our-courses .cor-desc
{
    text-align: center;
    width: 80%;
    margin: auto;
    line-height: 1.5;
    font-size: 14px;
    color: #.our-courses;
    color: #978797;
    margin-bottom: 50px;
}


.box .box-img{
    width: 30%;
    float: left;
    margin-left: 3%;
    margin-bottom: 25px;
    background:#EDF4F6;
    transition: all 0.4s ease-in-out;
}

.box .first{
    margin-left: 0
}

.box .box-img img{
    width: 100%;
    margin-bottom: 25px;
}

.box .box-img .box-title1
{
    text-align: center;
    color: #000;
    margin-bottom: 8px;
    text-align: center;
    font-weight: normal;
}

.box .box-img .box-desc
{
    text-align: center;
    color: darkgray;
    margin-bottom: 15px;
    font-size: 13px
        
}

.box .box-img .box-title2
{
    text-align: center;
   color: #D82A4E;
   margin-bottom: 35px;
   font-weight: bold;
   font-size: 15px;
    
}

.box .box-img:hover
{
    background:#D82A4E; 
}
.box .box-img:hover.box-title1 .box-desc .box-title2
{
    color: #fff;
}



/*
        ***************************
    
           SEARCH STYLES
        =============================
*/

.search
{
    padding: 80px 0;
    background: #D82A4E;
    text-align: center;
    padding-bottom: 50px;
    width: 85%;
    margin: auto;
 
}

.search .search-title
{
    margin-bottom: 30px;
    color: #fff;
    font-size: 45px;
}

.search .form
{
    background: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.search .form form input
{
    box-sizing: border-box;
    margin-bottom: 17px;
    padding: 9px;
    outline: 0;
}

.search .form form-input input
{
    width: 40%;
}

.search .form form input[type=text]
{
    float: left;
    background: #F1F1F1;
    width: 30%;
    padding: 20px;
    border: none;
    margin-left: 40px;
    font-size: 16px;
}

.search .form form input[type=email]
{
    float: left;
    background: #F1F1F1;
    width: 30%;
    padding: 20px;
    border: none;
    margin-left: 40px;
    font-size: 16px;
}

.search .btn 
{
    width: 17%;
    float: left;
    margin-left: 40px;
    outline: 0;
    background: #D82A4E;
    color: #fff;
    border: none;
    padding: 17px;
    cursor: pointer;
    font-size: 18px;
    
}


/*
        ***************************
    
           FEATURED STYLES
        =============================
*/

.container2{
    width: 98%;
    margin: auto;
}


.featured
{
    padding: 100px 0;
}

.featured .feat-title
{
    text-align: center;
    color: #474747;
    font-size: 40px;
    margin-bottom: 20px;
}

.featured .feat-desc
{
    text-align: center;
    width: 80%;
    margin: auto;
    line-height: 1.5;
    font-size: 14px;
    color: #.our-courses;
    color: #978797;
    margin-bottom: 50px;
}

.featured .ul-list
{
    
    padding-top: 17px;
    list-style: none;
    text-align: center;
    margin-bottom: 50px;
}

.featured .ul-list .list-item
{
    display: inline-block;
}

.featured .ul-list .list-item a
{
    text-decoration: none;
    color: #474747;
    padding-left: 42px;
    font-size: 16px;
    font-weight: bold;
    display: block;
    
}


.box2 .box-img2
{
     width: 23%;
    float: left;
    margin-left: 33px;
    margin-bottom: 25px;
    background: #EDF4F6;
}

.box2 .first{
    margin-left: 0
}

.box2 .box-img2 img{
    width: 100%;
    margin-bottom: 25px;
}

.box2 .box-img2 .box2-title
{
    text-align: center;
    color: #000;
    margin-bottom: 8px;
    text-align: center;
    font-weight: normal;
}

.box2 .box-img2 .box2-desc
{
    text-align: center;
    color: darkgray;
    margin-bottom: 15px;
    font-size: 16px;
        
}

.box2 .box-img2 .box2-title2
{
    text-align: center;
   color: #D82A4E;
   margin-bottom: 35px;
   font-weight: bolder;
   font-size: 15px;
    
}

.box2 .box-img2 .authors
{
    border-top: 1px solid darkgray;
    padding: 20px 0;
   
}

.box2 .box-img2 .authors img
{
     width: 16%;
    float: left;
    margin: 10px 10px;
    border-radius: 30px;
}

.box2 .box-img2 .box2-title3
{
    margin-left: 10px;
    color: darkgray;
    font-size: 15px;
    
}

.box2 .box-img2 .box2-title3 span
{
   color: #D82A4E; 
}






/*
        ***************************
    
           SIGN-UP STYLES
        =============================
*/
.sign-up .signup-info
{
    float: left;
    padding: 100px 0;
    width: 50%;
    background:#D82A4E;
    

}

.sign-up .signup-title
{
    color: #fff;
    font-size: 52px;
    font-weight: normal;
    width: 70%;
    margin: auto;
}

.sign-up .signup-desc
{
    font-size: 14px;
    color: #fff;
    width: 70%;
    margin: auto;
    line-height: 1.9;
    margin-top: 20px;
    margin-bottom: 40px;
}

.sign-up .form
{
    background: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 70%;
    margin: auto;
    
}

.sign-up .form form input
{
    box-sizing: border-box;
    margin-bottom: 17px;
    padding: 9px;
    outline: 0;
}



.sign-up .form form input[type=text]
{
    background: #F1F1F1;
    width: 70%;
    padding: 20px;
    border: none;
    margin-left: 40px;
    font-size: 16px;
}

.sign-up .form form input[type=email]
{
    
    background: #F1F1F1;
    width: 70%;
    padding: 20px;
    border: none;
    margin-left: 40px;
    font-size: 16px;
}

.sign-up .btn 
{
    margin-left: 43px;
    outline: 0;
    background: #3E3E3E;
    color: #fff;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
    
}
.sign-up .btn1
{
    margin-left: 43px;
    outline: 0;
    background: #D82A4E;
    color: #fff;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
}

.sign-up .signup-img img
{
  
    width: 50%;
    height: 124vh;
}


/*
        ***************************
    
           JOIN STYLES
        =============================
*/


.join .join-info
{
    padding: 100px 0;
    text-align: center;
}

.join .join-info .join-title
{
    color: #474747;
    margin-bottom: 17px;
    font-weight: bold;
    font-size: 42px;
}

.join .join-info .join-desc
{
    color:darkgray;
    line-height: 1.5;
    margin-bottom: 35px;
    
}

.join .join-info .btn
{
    color: #fff;
    background: #D82A4E;
    border: none;
    padding: 18px 48px;
    cursor: pointer;
    font-size: 16px;
    outline: 0;
}


/*
        ***************************
    
           END STYLES
        =============================
*/
.end
{
    padding: 100px 0;
    border-top: 3px solid #D82A4E;
}

.end .end-info1
{
    width: 18%;
    float: left;
    padding-left: 20px;
}

.end .end-info1 .end-title1
{
   font-size: 22px;
    margin-bottom: 34px;
    color: #474747;
}

.end .end-info1 .ul-list
{
    color:#D82A4E;
    padding-left: 18px;

}

.end .end-info1 .ul-list .list-item
{
    padding-bottom: 30px;
}

.end .end-info1 .ul-list .list-item a
{
    text-decoration: none;
    color: darkgray;
}

.end .end-info2, .end .end-info3, .end .end-info4
{
    width: 18%;
    float: left;
    padding-left: 20px;
}

.end .end-info2 .end-title2,.end .end-info3 .end-title3, .end .end-info4 .end-title4
{
   font-size: 22px;
    margin-bottom: 34px;
    color: #474747;
    padding-left: 17px;
}

.end .end-info2 .ul-list2, .end .end-info3 .ul-list3, .end .end-info4 .ul-list4
{
    color:#D82A4E;
    padding-left: 18px;
    list-style: none;

}

.end .end-info2 .ul-list2 .list-item2, .end .end-info3 .ul-list3 .list-item3, .end .end-info4 .ul-list4 .list-item4
{
    padding-bottom: 11px;
}

.end .end-info2 .ul-list2 .list-item2 a, .end .end-info3 .ul-list3 .list-item3 a, .end .end-info4 .ul-list4 .list-item4 a
{
    text-decoration: none;
    color: darkgray;
}

.end .end-info5
{
     width: 18%;
    float: left;
    padding-left: 20px;
}

.end .end-info5 .end-title5
{
   font-size: 22px;
    margin-bottom: 34px;
    color: #474747;
    padding-left: 17px; 
}

.end .end-info5 input[type=email]
{
    width: 60%;
    background: #EDF4F6;
    margin-bottom: 20px;
    padding: 18px;
    border: none;
    outline: 0;
    font-size: 17px;
}

.end .end-info5 .btn
{
    outline: 0;
    background: #D82A4E;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 19px;
    padding: 18px;
}


/*
        ***************************
    
           FOOTER STYLES
        =============================
*/

.footer
{
    padding: 30px;
    background: #EDF4F6;
    
    
}

.footer .rights
{
    width: 50%;
    float: left;
}

.footer .rights .right-info
{
    font-size: 14px;
    color: #474747;
    font-weight: bold;
}

.footer .rights .right-info .icon
{
    font-size: 15px;
}

.footer .rights .right-info span
{
    color: skyblue;
    cursor: pointer;
    font-size: 15px;
}

.footer .rights .right-info span:hover
{
    color: #D82A4E;
}


/*
        ***************************
    
           media STYLES
        =============================
*/


/* Start responsive  */

/* Mobile */
@media (max-width: 767px)
{
    .back-img .navbar .nav-info .btn button {
        padding: 18px 35px;
    }
    
    .back-img .get .get-info .title .get-title {
        font-size: 36px;
    }
    .back-img .get .get-info .desc .get-desc {
        font-size: 12px;
        width: 100%;
    }
    
    .back-img .form{
        width: 100%;
    }
    
    .back-img .back-form .form form input[type=text], .back-img .back-form .form form input[type=email]
    {
        width: 100%;
        float: right;
    }
    
    .back-img .back-form .btn
    {
        width: 40%;
        float: none;
        padding: 20px;
    }
    
    .our-courses .cor-title
    {
        font-size: 34px;
    }
    
    .our-courses .cor-desc
    {
        font-size: 15px;
        width: 100%;
    }
    .box .box-img, .box2 .box-img2
    {
        width: 100%;
        float: none;
        margin-left: 0;
    }
    
    .search .search-title
    {
        font-size: 35px;
    }
    
    .search .form form input[type=text], .search .form form input[type=email]
    {
        width: 75%;
        float: none;
    }
    
    .search .btn
    {
        width: 45%;
        float: none;
    }
    
    .featured .feat-title
    {
        font-size: 37px;
    }
    
    .featured .feat-desc
    {
        width: 100%;
    }
    
    .box2 .box-img2 .authors img
    {
        width: 11%;
        float: none; 
        margin: 3px 9px;
        border-radius: 50px;
    }
    
    .sign-up .signup-info, .sign-up .signup-img img
    {
        width: 100%;
        float: none;
        
    }
    
    .sign-up .signup-title
    {
        font-size: 40px;
        margin-left: 13px;
        width: 100%;
        
    }
    
    .sign-up .signup-desc {
        font-size: 15px;
        padding-left: 14px;
        width: 100%;
    }
    
    .sign-up .btn {
        margin-left: 43px;
        margin-bottom: 13px;
    }
    
    .join .join-info .join-title
    {
        font-size: 36px;
    }
    
    .join .join-info .join-desc
    {
        line-height: 1.8;
        font-size: 14px;
    }
    .end .end-info1,  .end .end-info2, .end .end-info3, .end .end-info4
    {
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }
    .end .end-info1 .end-title1
    {
        font-size: 21px;
    }
    .end .end-info1 .ul-list .list-item a, .end .end-info2 .ul-list2, .end .end-info3 .ul-list3, .end .end-info4 .ul-list4
    {
        font-size: 14px;
    }
    .end .end-info2, .end .end-info3, .end .end-info4
    {
        margin-left: 0;
    }
    
    .end .end-info2, .end .end-info3, .end .end-info4
    {
        padding-left: 0;
    }
    .end .end-info5
    {
       width: 100%;
       padding-left: 0;
    }
    
    .end .end-info5 input[type=email] {
        width: 66%;
        margin-left: 13px;
    }
    .end .end-info5 .btn
    {
        margin-left: 13px;;
    }
    .footer .rights
    {
       width: 100%; 
    }
   
}


/* laptop */
@media (min-width: 768px) and (max-width: 991px)
{
    .back-img .navbar .nav-info .btn button {
        padding: 18px 36px;}
    
    .back-img .navbar .nav-info .ul-list .list-item a
    {
        padding-left: 6px;
        font-size: 15px;
    }
    .back-img .get .get-info .title .get-title{
        font-size: 39px;
    }
    
    .back-img .get .get-info .desc .get-desc{
        font-size: 14px;
         width: 100%;
    }
    .back-img .back-form .btn {
        width: 26%;
        margin-left: 22px;
        padding: 19px;
        float: none;
        font-size: 15px;}
    
    .our-courses .cor-desc{
        width: 100%;
        font-size: 13px;
        line-height: 1.9;
    }
    
    .box .box-img{
        width: 47%;
        margin-left: 3%;
    }
    
    .search .form form input[type=text], .search .form form input[type=email]
    {
        width: 40%;
        float: none;
    }
    .search .btn{
        width: 28%;
        float: none;
        margin-left: 20px;
        font-size: 15px;
    }
    
    .featured .feat-desc
    {
        width: 90%;
        font-size: 13px;
        line-height: 1.9;
    }
    .featured .ul-list .list-item a{
            font-size: 18px;
        
    }
    .box2 .box-img2 {
        width: 30%;
        margin-left: 20px;
        }
    .box2 .box-img2 .box2-desc
    {
        font-size: 14px;
    }
    .box2 .box-img2 .box2-title3
    {
       font-size: 12px; 
    }
    .sign-up .signup-info, .sign-up .signup-img img
    {
        width: 100%;
        float: none;
        
    }
    .end .end-info2 .end-title2, .end .end-info3 .end-title3, .end .end-info4 .end-title4 {
        font-size: 17px;
        }
    .end .end-info2 .ul-list2 .list-item2 a, .end .end-info3 .ul-list3 .list-item3 a, .end .end-info4 .ul-list4 .list-item4 a{
        font-size: 15px;
    }
    
    
    .end .end-info2, .end .end-info3
    {
        padding-left: 89px;
    }
}



/* pc */
@media (min-width: 992px) and (max-width: 1199px)
{
   .box2 .box-img2 {
        width: 23%;
        margin-left: 18px;
        }
    
    .sign-up .btn{
        margin-bottom: 8px;
    }
    
    .sign-up .signup-img img
    {
        height: 154vh;
    }
    
    .end .end-info5
    {
        padding-left: 17px;
    }
    
    .end .end-info2 .end-title2, .end .end-info3 .end-title3, .end .end-info4 .end-title4 {
        font-size: 20px}
    
    .end .end-info2 .ul-list2 .list-item2, .end .end-info3 .ul-list3 .list-item3, .end .end-info4 .ul-list4 .list-item4 {
    padding-bottom: 11px;
        font-size: 15px;}
    
    .footer .rights .right-info {
    font-size: 12px;
}
    